*.swp
tags

# CMake-generated stuff
Makefile
CMakeFiles/
CMakeCache.txt
/.idea
/build
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/Testing/Temporary/CTestCostData.txt
/Testing/Temporary/LastTest.log
/akumulid/akumulid
/akumulid/cmake_install.cmake
/cmake_install.cmake
/functests/cmake_install.cmake
/functests/storage_test
/fuzzers/cmake_install.cmake
/libakumuli/cmake_install.cmake
/libakumuli/libakumuli.so
/perftests/cmake_install.cmake
/unittests/CTestTestfile.cmake
/unittests/cmake_install.cmake
/unittests/test_blockstore
/unittests/test_column_store
/unittests/test_compression
/unittests/test_cursor
/unittests/test_datetime
/unittests/test_nbtree
/unittests/test_protocolparser
/unittests/test_querycursor
/unittests/test_queryprocessor
/unittests/test_respstream
/unittests/test_sax
/unittests/test_seriesparser
/unittests/test_storage
/unittests/test_streams
/unittests/test_tcp_server
/unittests/test_util
